.idea
.gradle
build/
out
*.log
data/IRDetectionExample.mov
examples/MovieGenerator/ffmpeg.txt
examples/MovieGenerator/nr88.mp4
*.s#*
*.b#*
data/rotationtest.mov
screenshots
.DS_Store
data/markertracking.mov
data/markertracking450.mov
data/markertracking240.mov
data/markertracking120.mov
node_modules/
.pio
cmake-build-*
CMakeListsPrivate.txt